@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
}

html, 
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialised;   
}

header {
    background-color: #4414f3;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    padding: 1.8rem;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover{
    background: rgba(255,255,255, 0.15);
    transition: 0.3s;
}

header img {
    height: 60px;
}

#checkbox-menu {
    display: none;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
}

form {
    display: flex;
    align-self: center;
    height: 95vh;
    background-color: #222;
    color: #fff;
    padding: 8vh 30vw;
}

input,
select,
textarea {
    width: 40vw;
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

label {
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem 15vw;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-left: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    font-size: 1rem;
    text-align: justify;
}

picture {
    width: 100%;
}

#form-button {
    margin-top: 20px;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: #4717f6;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

#form-button:hover {
    background:#9502D6;
    transition: 0.3s;
    color: #fff
}

#CTA-button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: #9502D6;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;

}
#CTA-button:hover {
    background:#E609ED;
    transition: 0.3s;
    color: #fff
}

#home {
    background: #4717f6;
}

#sobre {
    background: #9502D6;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #9502D6;
    color: #fff;
}

